/* Generic styles */

html {
    background-color: black;
    text-align: center;
}

h1,
h2,
p {
    font-family: Verdana;

}

/* Tags styles */

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

a {
    color: aquamarine;
    font-size: 16px;
}

/* Attributes styles */
#footer {
    text-align: right;
    color: gray;
}